// TODO
$tmpElementHeight: 400px;

.position-container {
  position: relative;
  height: $tmpElementHeight;
}

.hidden-element {
  position: absolute;
  height: $tmpElementHeight;
  // TODO
  background-color: #fff;
}

.element-container {
  position: absolute;
  display: flex;
  overflow-x: hidden;

  transition-property: width, left;
  transition-duration: 0.1s;
  transition-delay: 0.1ms;
}

.button-container {
  display: flex;
  justify-content: center;
}
